@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap');

:root {
    --header-color: rgb(255,188,13);
    --bg-color: rgb(38,79,54);
    --container-color: #EBEBEB;
    --page-color: white;
    --search-bar-items: rgb(184,184,184);

    --basic-padding: 20px;
    --basic-border-radius: 10px;
    --basic-transition: 0.2s;
    --scrollbar-width: 5px;
    --basic-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
}

h1 {
    font-size: 50px;
    color: var(--header-color);
}

.icons {
    margin-top: var(--basic-padding);
    margin-left: var(--basic-padding);
    position: absolute;
    display: flex;
    gap: var(--basic-padding);
}

.icons a {
    text-decoration: none;
}

.icons a i:hover{
    transform: translate(0px, -3px);
}

.icons a i {
    font-size: 24px;
    color: var(--header-color);
    transition: var(--basic-transition);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 900px;
    border-radius: var(--basic-border-radius);
    margin-top: var(--basic-padding);
    margin-bottom: var(--basic-padding);
}

.container .main-header {
    display: flex;
    justify-content: center;
    margin-bottom: var(--basic-padding);
}

.container .inner-container {
    /* min-height: 800px; */
    background-color: var(--container-color);
    /* padding: var(--basic-padding); */
    border-radius: var(--basic-border-radius);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container .inner-container .page {
    /* min-height: 800px; */
    border-radius: var(--basic-border-radius);
    padding: var(--basic-padding);
    display: flex;
    flex-direction: column;
    gap: var(--basic-padding);
}

.container .inner-container .page .search-section {
    display: flex;
    gap: var(--basic-padding);
}


.container .inner-container .page .search-section .search-bar {
    width: 100%;
    height: 60px;
    border-radius: var(--basic-border-radius);
    background-color: var(--page-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--basic-padding);
    /* outline: 2px solid black; */

    box-shadow: var(--basic-box-shadow);
}

.container .inner-container .page .search-section .search-bar input:focus {
    color: black;
}

.container .inner-container .page .search-section .search-bar button {
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container .inner-container .page .search-section .search-bar button i {
    font-size: 20px;
    color: var(--search-bar-items);
    margin-left: var(--basic-padding);
    transition: var(--basic-transition);
}

.container .inner-container .page .search-section .search-list button i {
    font-size: 20px;
    color: var(--search-bar-items);
    transition: var(--basic-transition);
}

.container .inner-container .page .search-section .clear-list button i {
    font-size: 24px;
    color: rgb(255, 71, 71);
    transition: var(--basic-transition);
}

.container .inner-container .page .search-section .search-bar button i:hover,
.container .inner-container .page .search-section .search-list button i:hover,
.container .inner-container .page .search-section .clear-list button i:hover {
    filter: brightness(80%);
}

.container .inner-container .page .search-section .search-bar button i:active,
.container .inner-container .page .search-section .search-list button i:active,
.container .inner-container .page .search-section .clear-list button i:active {
    filter: brightness(60%);
}

.container .inner-container .page .search-section .search-list {
    outline: none;
    border: none;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--basic-border-radius);
    background-color: var(--page-color);
}

.container .inner-container .page .search-section .search-list button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.container .inner-container .page .search-section .clear-list {
    outline: none;
    border: none;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--basic-border-radius);
    background-color: var(--page-color);
}

.container .inner-container .page .search-section .clear-list button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.container .inner-container .page .search-section .search-bar input {
    font-size: 20px;
    color: var(--search-bar-items);
    width: 100%;
    margin-right: var(--basic-padding);
    outline: none;
    border: none;
}

.container .inner-container .page .search-section .search-bar input::placeholder {
    color: var(--search-bar-items);
}

.container .inner-container .page .items-container {
    border-radius: var(--basic-border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: var(--basic-padding);
    height: 500px;
    overflow: hidden;
    box-sizing: content-box;
    overflow-y: scroll;
    /* margin-left: var(--scrollbar-width); */
}

.container .inner-container .page .items-container::-webkit-scrollbar {
    /* display: none; */
    width: var(--scrollbar-width);
}

.container .inner-container .page .items-container::-webkit-scrollbar-thumb {
    background: var(--header-color);
    border-radius: var(--basic-border-radius);
}

.container .inner-container .page .items-container .item {
    height: 200px;
    width: 100%;
    border-radius: var(--basic-border-radius);
    background-color: var(--page-color);
    display: flex;
    flex-direction: row;

    box-shadow: var(--basic-box-shadow);
}

.container .inner-container .page .items-container .item .item-left,
.container .inner-container .page .items-container .item .item-right {
    width: 50%;
    padding: var(--basic-padding);
   /*  border: 1px solid red; */
}

.container .inner-container .page .items-container .item .item-left {
    width: 1200px;
}

.container .inner-container .page .items-container .item .item-left .name h2{
    font-size: 30px;
    color: var(--header-color);
}

.container .inner-container .page .items-container .item .item-left .restaurant{
    font-size: 20px;
}

.container .inner-container .page .items-container .item .item-left .description{
    color: rgb(104, 104, 104);
}

.container .inner-container .page .items-container .item .item-right {
    display: flex;
    justify-content: right;
}

.container .inner-container .page .items-container .item .item-right img {
    height: 100%;
}
