@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(38,79,54);
}

h1 {
    color: rgb(255,188,13);
}